.pomodoro-timer-section {
    position: fixed;
    right: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    pointer-events: none; 
}

.side-panel-open-3 .pomodoro-timer-container {
    display: initial;
}
.pomodoro-timer-container {
    display: none;
    pointer-events: auto;
    position: fixed;
    right: 50px;
    top: 10vh;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    
    padding: 28px; 
    border-radius: 14px;
    
    box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#pomodoro-title {
    font-size: 17px;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#timer {
    font-size: 56px;
    margin-bottom: 21px; 
    font-weight: 600;
}

.controls button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 7px 18px; 
    margin: 0 7px; 
    font-size: 11px;
    border-radius: 4px;
    
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.controls button:hover {
    background-color: white;
    color: #2c3e50;
}

@media screen and (max-width: 450px) {
    .container {
        padding: 16px;
        border-radius: 8px;
        width: 80%;
    }

    .title {
        font-size: 9.6px; 
        margin-bottom: 8px; 
        letter-spacing: 0.8px; 
    }

    .timer {
        font-size: 32px;
        margin-bottom: 12px;
    }

    .controls button {
        padding: 4px 10px; 
        margin: 0 4px;
        font-size: 7px;
        border-radius: 2px;
        border-width: 1px;
    }
}

#start { border-color: #2ecc71; color: #2ecc71; }
#start:hover { background-color: #2ecc71; color: white; }

#stop { border-color: #e74c3c; color: #e74c3c; }
#stop:hover { background-color: #e74c3c; color: white; }

#reset { border-color: #f1c40f; color: #f1c40f; }
#reset:hover { background-color: #f1c40f; color: white; }