body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
  font-size: 28px;
  font-weight: 600;
}

.description {
  font-size: 22px;
  line-height: 1.3;
}

.details {
  font-size: 22px;
  line-height: 1.2;
}

#container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  width: 100%;
  margin: 0 auto;
  align-items: stretch;
  flex: 1;
}

.nav {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 64px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
    background-color: white;
}

.nav img {
  display: block;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.nav a {
  align-items: center;
  float: left;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 22px;
  display: flex;
}


.right {
  float: right;
  display: block;
}

.right img {
  width: 26px;
  height: 26px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: rgb(230, 228, 228);
  box-shadow: 3px 8px 16px 8px rgba(0, 0, 0, 0.05);
  color: black;
  cursor: pointer;
  padding: 15px;
  padding-top: 25px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
    /* Ensure this transition is present for the smoothness */
  transition: opacity 0.5s, visibility 0.5s; 
  /* Initial state is still defined here for the first load */
  visibility: hidden; 
  opacity: 0;
}

#myBtn:hover {
  background-color: #555;
}

#left_side {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 30px;
}

#right_side {
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: 20px;
    margin-top: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#about, #personal_about{
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: 20px;
    padding: 32px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    min-height: 360;     /* choose any height */
} 

#personal_about {
    display: none;
    padding-top: 18px;
    padding-bottom: 18px;
} 

#personal_about img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    margin-top: 0;
} 

#start {
    display: block;
}

#profile3 {
    display: none;
}

#members {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: 20px;
    padding: 8px 32px 8px 32px;
    align-items: center;
    margin-top: auto;
} 

button {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 18px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
}

#mem_button1, #mem_button2, #mem_button3, #mem_button4 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  color: black;
}

#footer {
    position: sticky;
    height: 64px;
    width: 100%;
    bottom: 0;
    background-color: rgba(128, 128, 128);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

#footer p {
    margin: 0 24px;
    font-size: 20px;
}
