*{
	--background-color: #121212;
	--text-color: #3B3023;
	--primary-color: #A0E7F0;
	font-family: "Plus Jakarta Sans",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}
body{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../assets/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
	margin:0;
}
.main-container{
	display: flex;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	min-height: 700px;
	height: auto;
	margin: 50px;
	opacity: 0.9;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}
.left-container{
	display:flex;
	position: relative;
	width: 500px;
	flex-direction: column;
}
.left-container > img {
	height: 700px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.title{
	position: absolute;
	top: 10px;
	left: 170px;
	color: hsl(0,0%,100%);
	font-weight: bold;
	font-size: 40px;
	font-family: "Kode Mono";
}
.right-container{
	width: 500px;
	padding: 25px;
	display:flex;
	background-color: #EBF5FB;
	flex-direction: column;
	position: relative;
	align-items: center;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: -4px 0 12px rgba(0,0,0,0.15);

}
.logo-text{
	font-family: "Pacifico","Plus Jakarta Sans",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 30px;
	color: #43b1ca;
	margin-bottom: 70px;
}
#login{
	display:flex;
	flex-direction: column;
	gap: 20px;
}
.input-div{
	display: flex;
	position: relative;
	flex-direction: column;
	color: var(--text-color);
	gap: 5px;
}
.input-div > input{
	height: 30px;
	box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05);
	padding: 10px 10px 3px 10px;
	background: transparent;
	border-style: none;
	border-bottom: 1px outset #e8cece4f;
	width: 350px;
	color: var(--text-color);
	transition: background 0.5s ease;
}
.input-div > span{
	position: absolute;
	top: 17px;
	right: 15px;
}
.input-div > input:focus {
	outline: none;
	background-color: rgba(73, 133, 224, 0.12);
}
.login-text{
	color: #7A8C99;
	font-size: 20px;
	word-spacing: 4px;
	margin:0;
	margin-bottom: 50px;
	text-align: center;
}
.vague{
	color: #7A8C99;
	letter-spacing: 0.5px;
}
.login-button{
	padding: 10px 20px;
	width: 165px;
	height: 50px;
	background-color: #8ADBEE;
	border-radius: 30px;
	border-style: none;
	color: var(--text-color);
	word-spacing: 2px;
	box-shadow: 0 4px 8px rgba(139, 107, 61, 0.35);
	align-self: center;
	transition: width 0.5s ease, background-color 0.5s ease;
}
.login-button:hover{
	cursor: pointer;
	width: 300px;
	background-color: #67AFD2;
}
.link{
	color:#5A7FA5;
	transition: margin 0.5s ease;
}
.link:hover{
	color: #3E6E9C;
	margin-right: 10px;
}
.register{
	margin:0;
	font-size: 13px;
	margin-top:30px;
	text-align: center;
}
.register > a{
	margin-top: 20px;
}
.forgot{
	margin-top: 5px;
	align-self: flex-end;
	font-size: 15px;
	text-decoration: none;
}
label{
	font-size: 14px;
}
@media only screen and (max-width: 1000px){
	.left-container{
		display: none;
	}
}
