

body{
    margin:0px;
}
/*Ensures video plays as a background*/
.background-video{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
a{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgba(253, 247, 231, 0.822);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Header seperation style*/
.left-column{
    display: flex;
    width: 20%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.right-column{
    margin-top: 2vh;
    background-color: rgb(128, 161, 186);
    border-radius: 10px;
    padding: 0.1em;
    min-width: min-content;
    width: 30vw;
    margin-right: min(3vw, 1%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;;
}

/*Top right navigation bar styles*/
.navigation{
    margin: 0vw, 3vw, 0vw, 3vw;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2em;
}
.navigation:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(145,196,195 );
}
.navigation-bar{
    display:flex;
    justify-content: space-between;
    margin: 0;
}
.material-symbols-outlined{
    font-size: clamp(1vw,2vw,2.5rem)!important;
}
.nav-description{
    font-size: clamp(0.3rem,0.5rem,1rem);
    margin-top: 0.1rem;
}


.main-content-area{
    display: flex;
}

button:active{
    background-color: red;
}

.main-content-area{
    margin-top: 2vh;
    height: 85.2vh;
    width: 100%;
}
.wrapper{
    display:flex;
    flex-direction: row;
    width: auto;
    margin-left:10px;
    margin-top: 10px;

}

.side-nav-bar{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-around;
    min-width: min-content;
    width: 4vw;
    height: 60vh;
    padding: 0.5vw;
    border-radius: 15px;
    background-color: rgb(128, 161, 186);
}

.side-panel-toggle{
    margin-top: 40px;
    width: min-content;
    height: 60px;
    flex-shrink: 0;
    place-items: center;
    color:rgba(8, 89, 165, 0.5);
    background-color:rgb(128, 161, 186) ;
    border: none;
    border-radius: 0 10px 10px 0;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle:hover{
    background-color: rgb(145,196,195 );
    color: black;
}

.side-panel-title{
    margin: 0px;
    font-size: 25px;
    margin-left: 4px;
}

.side-content-area{
    width: auto;
    height: auto;
    display: flex;
}

.current-background-title{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.audio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
}

.content-area{
flex-shrink: 0;
color: white ;
background-color:rgb(18, 87, 139) ;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
margin: 0px;
margin-left: 8px;
flex-grow: 1;
padding:10px;
border-radius: 15px;
display: none;
font-family: 'Nunito', sans-serif;
font-weight: bold;
}

#MusicToggleButton{
    display: none;
}

.side-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
}