

body{
    margin:0px;
}
/*Ensures video plays as a background*/
.background-video{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
a{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: rgba(253, 247, 231, 0.822);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Header seperation style*/

.right-column{
    position:fixed;
    right: 25px;
    top: -37px;
    background-color: rgb(34, 40, 48);
    border-radius: 0px 0px 7px 7px;
    height: max-content;
    width: 420px;
    margin-right: min(3vw, 1%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: top 0.5s ease-out, transform 0.5s ease-out, opacity 0.5s ease-out;
}

#rightColumn.user-idle{
    transform: translateY(-100%);
}

@media screen and (max-width: 450px) {
    .right-column{
        width: 380px;
        right: 0px;
    }
}

.right-column:hover{
    top:0px;
}

/*Top right navigation bar styles*/
.navigation{
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    margin: 0 0.4rem;
}

.navigation:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(81, 80, 81);
}
.navigation-bar{
    display:flex;
    margin: 0;
    justify-content: flex-end;
}


.material-symbols-outlined{
    color: rgba(255, 255, 255, 0.843)!important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}
.nav-description{
    font-size: clamp(0.3rem,0.9rem,1rem);
    margin-bottom: 0.3rem;
    color: rgba(255, 255, 255, 0.843);
    padding-top: 10px;
}

.main-content-area{
    display: flex;
}

button:hover{
    cursor: pointer;
    background-color: rgba(81, 80, 81);
}

.main-content-area{
    margin-top: 10vh;
    height: 85.2vh;
    width: 100%;
}
.wrapper{
    display:flex;
    flex-direction: row;
    width: auto;
    margin-left:10px;
    margin-top: 10px;
}


.side-nav-bar{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-around;
    min-width: min-content;
    width: 4vw;
    height: min-content;
    padding: 0.5vw;
    border-radius: 7px;
    background-color: rgb(34, 40, 48);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

}

#sideNavBar.user-idle{
    transform: translateX(-100%);
    opacity: 0;
}

@media screen and (max-width: 450px) {
    .side-nav-bar{
        width: 1vw;
        height: 400px;
    }
    .side-button{
        margin: 0px!important;
    }
    .nav-description{
        font-size: 10px;
    }
    #SpacesContent{
        width: 300px!important;
        height: auto!important;
    }
    #Music{
        width: 320px!important;
        height: auto!important;
    }
    #motivation-popup{
        width: 200px!important;
        height: auto!important;
        left: 30%!important;
    }
}

.side-panel-toggle{
    margin-top: 40px;
    width: min-content;
    height: 60px;
    flex-shrink: 0;
    place-items: center;
    color: rgba(253, 247, 231, 0.822);
    background-color: rgb(60, 68, 81);
    border: none;
    border-radius: 0 10px 10px 0;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle:hover{
    background-color: rgb(145,196,195 );
    color: black;
}

.side-panel-title{
    margin: 0px;
    font-size: 25px;
    margin-left: 4px;
}

.side-content-area{
    width: auto;
    height: auto;
    display: flex;
}

.current-background-title{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.audio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
}

.content-area{
flex-shrink: 0;
color: rgba(253, 247, 231, 0.822);
background-color: rgb(34, 40, 48);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
margin: 0px;
margin-left: 8px;
flex-grow: 1;
padding:10px;
border-radius: 7px;
display: none;
font-family: 'Nunito', sans-serif;
font-weight: bold;
}

#MusicToggleButton{
    display: none;
}

.side-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    margin: 20px 0px;
    padding: 10px 0px;
}