
#Music{
    width: 350px;
    padding: 0px;
}
#SoundTitle{
    margin: 5px 5px 5px 10px;
}

.side-panel-open-2 #Music{
    display: initial; 
}

.side-panel-open-2 #MusicToggleButton{
    display: initial;
}
.music-selection{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 90%;
    overflow-y: scroll;
    overflow-x:hidden
}

.music-row{
    border-bottom: darkgray solid 2px;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.audio-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 17px;
}
.audio-name{
    margin-left: 10px;
    width: 70%;
    align-items: flex-end;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}


audio::-webkit-media-controls-panel{
    background-color: rgba(60, 68, 81);
}
audio::-webkit-media-controls-play-button{
    background-color: rgba(91, 97, 106, 0.709);
    border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display{
    color: rgba(255, 255, 255, 0.843);
}
audio::-webkit-media-controls-time-remaining-display{
    color: rgba(255, 255, 255, 0.843);
}
audio::-webkit-media-controls-timeline{
    border-radius: 40px;
    background-color: rgba(91, 97, 106, 0.709);
}
audio::-webkit-media-controls-volume-slider{
    background-color: rgba(91, 97, 106, 0.709);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
audio::-webkit-media-controls-mute-button{
    background-color: rgba(91, 97, 106, 0.709);
    border-radius: 50%;
}

