.side-content-area{
    display:none;
    width: 200px;
    height: 447px;
    flex-shrink: 0;
    padding: 10px;
    color: white ;
    background-color:rgb(128, 161, 186) ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    
}

.side-panel-open .side-content-area{
    display: initial; 
    visibility: visible;
}

.side-panel-open .side-panel-toggle{
    display: initial;
    visibility: visible;
}

.side-content-area{
    visibility: hidden;
    display: flex;
    height: 80vh;
    width: 370px;
}

.video-selection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80%;
    overflow-y: scroll;
    overflow-x:hidden
}

.volume-adjust{
    height: 13%;
}

.video-row{
    min-height: 17vh;
    display: flex;
    flex-direction: row;

}
.video-item-container{
    margin: 2px;
    height: 80%;
    width: 50%;
    padding: 2px;
}
.video-item{
    gap: 10px 10px 10px 0px;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 2px 0px 0px 2px;
    border-radius: 5px;
}

.video-title{
    font-size: 14px;
    margin: 0px;
}
::-webkit-scrollbar{
    display:none;
}

#RainyCafeAtNight{
    background-image: url("/images/cafe-at-night.png");
    background-size: cover;
}

#HollowForest{
    background-image: url("/images/hollow-forest.png");
    background-size: cover;
}

#ByTheOcean{
    background-image: url("/images/by-the-ocean.png");
    background-size: cover;
}

#SnowyCabin{
    background-image: url("/images/snowy-cabin.png");
    background-size: cover;
}

#Toronto{
    background-image: url("/images/toronto.png");
    background-size: cover;
}

#StarWars{
    background-image: url("/images/star-wars.png");
    background-size: cover;
}

#AnimeGirlStudying{
    background-image: url("/images/anime-girl-studying.png");
    background-size: cover;
}

#FirePlace{
    background-image: url("/images/fireplace.png");
    background-size: cover;
}

#DystopianCity{
    background-image: url("/images/dystopian-city.png");
    background-size: cover;
}

#Cafe{
    background-image: url("/images/cafe.png");
    background-size: cover;
}